# 把阻擋打包資料夾的這兩行註解掉！
# /dist
# build

.env
.DS_Store
/uploads
/node_modules
yarn-error.log

.idea

coverage

!src/**

./tsconfig.tsbuildinfo
medusa-db.sql

# 把這個快取資料夾也註解掉，保險起見
# .cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# 🚨 最關鍵的修改：把 .medusa 註解掉，不准 Railway 把它當垃圾丟掉！
# .medusa