# 把阻擋打包資料夾的這兩行註解掉！
# /dist
# build

.env
.DS_Store
/uploads
/node_modules
yarn-error.log

.idea

coverage

!src/**

./tsconfig.tsbuildinfo
medusa-db.sql

# 把這個快取資料夾也註解掉，保險起見
# .cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# 雖然本地編譯會產生 .medusa，但通常建議保留這行，先不註解
.medusa